
# Config with secrets
# Environment
# IDE
# Logs
# OS
# Python
*$py.class
*.egg-info/
*.local
*.log
*.py[cod]
*.so
*.swo
*.swp
*~
.DS_Store
.env
.env.*
.idea/
.superpowers
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
config.yaml
dist/
env/
venv/
